/* ===============
GLOBAL SETTINGS
=============== */

@font-face {
    font-family: 'jostlight';
    src: url('fonts/jost-300-light-webfont.woff2') format('woff2'),
         url('fonts/jost-300-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jost_700_boldbold';
    src: url('fonts/jost-700-bold-webfont.woff2') format('woff2'),
         url('fonts/jost-700-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


/* ===============
PRIMARY SETTINGS
=============== */
/* body, primary divs etc. */

html {
  /* For sticky footer styles */
  /*position: relative;*/
  height: 100%;
  /* Prevents broken layout when screen is wide and of low height (unlikely configuration), as well on Firefox and Chrome */
  /*min-height: 100vh !important;*/
}

@media screen and (max-width: 1200px) {
	html {
		min-height: 60rem !important;
	}
}

body {
  	/* Margin bottom by footer height */
  	/*margin-bottom: 60px;	*/
  	min-height: 100%;
}

.padding-bigtop {
	padding-top: 7rem;
}


@media screen and (min-width: 768px){
	/* Apply gradient to cover larger responsive, fluid screens */
	body.gradient {
		/* The % indicate the start/stop locations, respectivly.*/
		background: linear-gradient(to right, white 0%,white 75%, black 75%, black 100%) !important; /* Reference clip path for values */
	}

	.container-fluid {
		/*Want to constrain proportion of this class, but retain its properties of full width at smaller screens which I could not achieve without fluid width*/
		max-width: 1200px;
	}

	.padding-left {
		padding-left: 5rem;
	}

}

.container-fluid {
	/*Want to constrain proportion of this class, but retain its properties of full width at smaller screens which I could not achieve without fluid width*/
	max-width: 1200px;
}

.navbar {
	/*Use of RGBA colour to employ opacity on drop shadow*/
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.16);
}

.bg-white {
	/* Adds background color of white to navbar, which has no default color */
	background-color: white;
}

.bg-black {
	background-color: black;
}

@supports (-webkit-clip-path: polygon(91% 0, 100% 68%, 95% 100%, 56% 100%, 70% 68%, 61% 0)) or (clip-path: polygon(91% 0, 100% 68%, 95% 100%, 56% 100%, 70% 68%, 61% 0)) {
	.cut-border {
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 28% 75%, 0% 0%);
		clip-path: polygon(100% 0, 100% 100%, 0% 100%, 28% 75%, 0% 0%);
	}
}
/*
	No padding on body, as was want navbar to cut off coloured background
*/


/* ===============
SECONDARY SETTINGS
=============== */
/* header, footer, sidebar etc.*/

@media screen and (max-width: 768px) {
	.first-column {
		margin-top: 5em;
	}
}

@media screen and (max-width: 768px) and (min-height: 900px) {
	.first-column {
		margin-top: 7em;
	}
}

@media screen and (max-width: 530px) {
	.first-column {
		margin-top: 6em;
	}
}


/* Sticky footer styles
-------------------------------------------------- */

footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  /*line-height: 60px;  Vertically center the text there */
  /*background-color: black;*/
}

@supports (clip-path: polygon(12% 28%, 100% 0, 100% 100%, 0 100%, 0 0)) {
	footer.cut-border {
		-webkit-clip-path: polygon(12% 28%, 100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(12% 28%, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

@media screen and (max-width: 420px){
	/* Social media icons are getting clipped on narrower screens, need to make clipping path less "deep" */
	@supports (clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0)) {
		footer.cut-border {
			-webkit-clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0);
		}
	}
}


/* ===============
TEXT STYLES
=============== */
/* headings, paragraphs, lists etc. */


h1{
	font-family: 'jost_700_boldbold', serif;
	font-weight: bold;
	color: black;
	margin-bottom: 1em;
}

p {
	font-family: 'jostlight', sans-serif;
	color: #666666;
	font-weight: normal !important;
}

a, a:hover, a:visited, a:link, a:active {
	color: white !important;
}

address > p {
	/* LIghter different font color for p text in the address element */
	color: #999999;
}

/* ===============
IMAGE & LINK STYLES
=============== */

.social-icons {
	color: white;
	font-size: 3em;
	text-decoration: none;
}


/* ===============
GENERAL STYLES
=============== */
/* forms, tables, buttons */

form {
	/*padding-top: 2em;*/
	flex-grow: 2;
	position: relative;
	left: -15px;
	border-left: solid 7.5px #EF0606;
	padding: 2.5px 7.5px 0;
}

form label {
	display: block;
	margin: 0;
}

input {
	border: none;
	border-bottom: solid 1px #000000;
	margin-bottom: 10px
}

input[type="submit"] {
	display: block;
	border: none;

}

/* ===============
MISC
=============== */

.left-red-rect {
	/* FOr aesthethic purposes*/
	margin-top: 2em;
	border-left: solid 15px #EF0606;
	/*To align red rectangle with text above it*/
	/*margin-left: 20px;*/
	/* 5px added to account for padding at top of this class*/
	height: 10rem;
	/*position: relative;*/
	/*padding-bottom: 0px;*/
}

.rect-next {
	margin-left: 15px;
	margin-bottom: 15px;
	/*margin-top: 5px;*/
	border: none;
	border-bottom: solid 3px black;
	/* reduct dark gray */
	color: #4c4c4c;
	/*width: 250px;*/
	height: 3rem;
	font-size: 1.2em;
}

.btn-submit {
	/* To match height of  elements*/
	/*height: 1.5em; 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;*/
	margin-top: 15px;
	border: solid 1px #0C68A2;
	background-color: #000000;
	color: white;
	border-radius: 0;
	/*margin-top: 15px;*/
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.16);
	font-weight: bold;
	padding: 10px;
}


.small-spacer {
	/*padding: none;*/
	background-color: black;
	margin-top: 2em;
	height: 6em;
	min-height: 4em;
}

@supports (clip-path: polygon(100% 0, 100% 100%, 73% 32%, 0 100%, 0 0)){
	.small-spacer {
		-webkit-clip-path: polygon(100% 0, 100% 100%, 88% 72%, 0 100%, 0 0);
		clip-path: polygon(100% 0, 100% 100%, 88% 72%, 0 100%, 0 0);
	}
}

@media screen and (max-width: 530px) {
	.small-spacer {
		margin-top: 1em;
		height: 6em;
		min-height: 5em;
	}
}

