/* ===============
GLOBAL SETTINGS
=============== */

@font-face {
    font-family: 'Jost';
    src: url('fonts/jost-300-light-webfont.woff2') format('woff2'),
         url('fonts/jost-300-light-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Jost';
     src: url('fonts/jost-300-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/jost-300-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Jost';
    src: url('fonts/jost-500-medium-webfont.woff2') format('woff2'),
         url('fonts/jost-500-medium-webfont.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost';
    src: url('fonts/jost-500-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/jost-500-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Jost';
    src: url('fonts/jost-700-bold-webfont.woff2') format('woff2'),
         url('fonts/jost-700-bold-webfont.woff') format('woff');
    font-weight: bold;
}


/* ===============
PRIMARY SETTINGS
=============== */
/* body, primary divs etc. */

html, body, section {
  /* For sticky footer styles */
  /*position: relative;*/
  height: 100%;

  /* Prevents broken layout when screen is wide and of low height (unlikely configuration), as well on Firefox and Chrome */
  /*min-height: 100vh !important;*/
}

body {
	min-height: 100%;
	position: relative;

}

footer {
	height: 325px;
	
}


.padding-bigtop {
	padding-top: 5rem;
}



.container-fluid {
	/*Want to constrain proportion of this class, but retain its properties of full width at smaller screens which I could not achieve without fluid width*/
	max-width: 1200px;
}

.navbar {
	/*Use of RGBA colour to employ opacity on drop shadow*/
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.16);
}

.bg-white {
	/* Adds background color of white to navbar, which has no default color */
	background-color: white;
}

.bg-black {
	background-color: black;
}

@supports (-webkit-clip-path: polygon(91% 0, 100% 68%, 95% 100%, 56% 100%, 70% 68%, 61% 0)) or (clip-path: polygon(91% 0, 100% 68%, 95% 100%, 56% 100%, 70% 68%, 61% 0)) {
	.cut-border {
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 28% 75%, 0% 0%);
		clip-path: polygon(100% 0, 100% 100%, 0% 100%, 28% 75%, 0% 0%);
	}
}


/* Sticky footer styles
-------------------------------------------------- */

footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  /*line-height: 60px;  Vertically center the text there */
  /*background-color: black;*/
}

	/* Social media icons are getting clipped on narrower screens, need to make clipping path less "deep" */

@supports (clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0)) {
	footer.cut-border {
		-webkit-clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(12% 14%, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}





/* ===============
TEXT STYLES
=============== */
/* headings, paragraphs, lists etc. */

body {
	font-family: 'Jost', sans-serif;	
	color: #666666;
	font-weight: normal;
}


h1, dl dt {
	font-weight: 700;
	color: black;
}
h1 {
	font-size: 3rem;
}

strong {
	font-weight: 500;
	color: black;
	
}

.definition-notes {
	font-style: italic;
	font-weight: 300;
	color: #666666 ;
	font-size: 1rem;
	margin-bottom: 1rem;
}


dd.lead {
	font-size: 1.5rem;
}



a, a:hover, a:visited, a:link, a:active {
	color: white !important;
}

address > p {
	/* LIghter different font color for p text in the address element */
	color: #999999;
}

/* ===============
IMAGE & LINK STYLES
=============== */

.social-icons {
	color: white;
	font-size: 3em;
	text-decoration: none;
}


/* ===============
GENERAL STYLES
=============== */
/* forms, tables, buttons */

form {
	/*padding-top: 2em;*/
	flex-grow: 2;
	position: relative;
	left: -15px;
	border-left: solid 7.5px #EF0606;
	margin-top: 30px;
	padding: 2.5px 7.5px 0;
}

form label {
	display: block;
	margin: 0;
}

input {
	border: none;
	border-bottom: solid 1px #000000;
	margin-bottom: 10px
}

input[type="submit"] {
	display: block;
	border: none;
}

/* ===============
MISC
=============== */

.left-red-rect {
	/* FOr aesthethic purposes*/
	margin-top: 2em;
	border-left: solid 15px #EF0606;
	/*To align red rectangle with text above it*/
	/*margin-left: 20px;*/
	/* 5px added to account for padding at top of this class*/
	height: 10rem;
	/*position: relative;*/
	/*padding-bottom: 0px;*/
}

.rect-next {
	margin-left: 15px;
	margin-bottom: 15px;
	border: none;
	border-bottom: solid 3px black;
	/* reduct dark gray */
	color: #4c4c4c;
	/*width: 250px;*/
	height: 3rem;
	font-size: 1.2em;
}

.btn-submit {
	/* To match height of  elements*/
	/*height: 1.5em; 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;*/
	margin-top: 15px;
	border: solid 1px #0C68A2;
	background-color: #000000;
	color: white;
	border-radius: 0;
	/*margin-top: 15px;*/
	font-weight: bold;
	padding: 10px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.16);
  	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.1s ease-out	
}

.section-break {
	display: block;
	height: 5px;
	width: 50px;
	background-color: #000000;
	margin-bottom: 3rem;
}

.btn-submit:focus, .social-icons:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: #EF0606;
}


.small-spacer {
	/*padding: none;*/
	background-color: black;
	margin-top: 2em;
	height: 6em;
	min-height: 4em;
}

.full-height {
	height: 100vh;
	flex:1;
}

/* ===============
SECONDARY SETTINGS
=============== */
/* header, footer, sidebar etc.*/

@media screen and (min-width: 768px) {
	body {
		overflow: hidden;
	}

	.padding-bigtop {
		padding-top: 7rem;
	}

	/* Apply gradient to cover larger responsive, fluid screens */
	body.gradient {
		/* The % indicate the start/stop locations, respectivly.*/
		background: linear-gradient(to right, white 0%,white 75%, black 75%, black 100%) !important; /* Reference clip path for values */
	}

	.container-fluid {
		/*Want to constrain proportion of this class, but retain its properties of full width at smaller screens which I could not achieve without fluid width*/
		max-width: 1200px;
	}

	.padding-left {
		padding-left: 5rem;
	}

}

@media screen and (min-width: 420px){		

	footer {
		position: absolute;
		bottom: 0;
	}
}